name: Publish
on:
  push:
    branches:
      - '**'
    tags:
      - 'v*'

jobs:
  lint:
    runs-on: ubuntu-22.04
    strategy:
      matrix:
        node-version: [ 22.x ]
    steps:
      - name: Checkout
        uses: actions/checkout@v3

      - uses: actions/setup-node@v4
        with:
          node-version: ${{ matrix.node-version }}
          registry-url: https://registry.npmjs.org/
          cache: 'npm'

      - name: Install modules
        run: npm ci

      - name: Lint
        run: npm run lint
  
  publish:
    if: startsWith(github.ref, 'refs/tags/v')
    runs-on: ubuntu-22.04
    needs: lint
    steps:
      - name: Checkout
        uses: actions/checkout@v3

      - name: Use Node.js 22.x
        uses: actions/setup-node@v6
        with:
          node-version: 22.x
          registry-url: https://registry.npmjs.org/
          cache: 'npm'

      - name: Install modules
        run: npm ci

      - name: Publish package
        run: npm publish
